/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.admin {
    margin: 0;
}
.no-margin {
    margin: 0;
}
.bold {
    font-weight: bold;
}
.little {
    font-size: small;
    height: 90%;
    margin: 5px;
    margin-left: 0;
    border: none;
}

.flash {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.1rem;
    border-radius: 4px;
    font-size: 0.9rem;
}

.flashspan {
    color: white;
    float: left;
}

.flash.success {
    background-color: #7f9e40;
    color: #f3f6ee;
}

.flash.failure {
    background-color: #ac4343;
    color: #f2e2e2;
}

.flash.info {
    background-color: cadetblue;
    color: #f3f6ee;
}

.navcolor {
    background: #558C89;
}
.headercolor {
    background: #424242;
}
.footercolor {
    background: #558C89;
}
.backgroundcolor {
    background: #ECECEA;
}
.buttoncolor {
    background: #D9853B;
}
.myselect {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}
