<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>ZDelivery</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/normalize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="blue-grey lighten-5">

    <div class="row admin">
        <div class="col s12">
            <p class="right">
                <a sec:authorize="hasAnyRole('ADMIN', 'DEVELOPER')" th:href="@{/admin}">
                    <span>admin panel</span> &bullet;
                </a>
                <span>
                    <a sec:authorize="isAuthenticated()" th:href="@{/profile}" th:text="${loggedUsername}">Chris Ramazzotti</a>
                    <a sec:authorize="isAnonymous()" th:href="@{/signup}">зарегистрироваться</a>
                </span>
                &bullet;
                <span>
                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">выйти</a>
                    <a sec:authorize="isAnonymous()" th:href="@{/login}">войти</a>
                </span>
            </p>
        </div>
    </div>

    <nav class="light-blue darken-3" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo bold">ZDelivery</a>

            <ul class="right hide-on-med-and-down">
                <li><a href="#">Navbar Link</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div class="row orange darken-2">
        <div class="col s2 offset-s2">
            <select class="input-field browser-default little orange darken-1 white-text">
                <option value="1" disabled selected>Город</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class="col s2">
            <select class="input-field browser-default little orange darken-1 white-text">
                <option value="1" disabled selected>Сортировать</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class="col s2 offset-s3">
            <a href="" class="btn-flat white-text">
                <span class="center-align"> 32,456 руб</span>
            </a>
        </div>
    </div>

    <div class="container">

        <br>

        <div class="row col s12">
            <div class="col s6">
                <div class="card horizontal">
                    <div class="card-image">
                        <div style='float: left; width: 150px; height: 150px; overflow: hidden; background: url("http://ecx.images-amazon.com/images/I/51Zq1aOzQhL._SL160_.jpg") center center no-repeat; margin: 20px;'></div>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h6>ZOTAC GeForce GTX 1080 8GB GDDR5X 256bit AMP Extreme Gaming Graphic Card (ZT-P10800B-10P)</h6>
                        </div>
                        <div class="card-action">
                            <span class="red-text text-accent-4 left">36,599 руб</span>
                            <a href="#" class="btn-flat orange darken-3 white-text right">Купить</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card horizontal">
                    <div class="card-image">
                        <div style='float: left; width: 150px; height: 150px; overflow: hidden; background: url("http://ecx.images-amazon.com/images/I/41ftDxbdD%2BL._SL160_.jpg") center center no-repeat; margin: 10px;'></div>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col s12">
            <div class="col s6">
                <div class="card horizontal">
                    <div class="card-image">
                        <div style='float: left; width: 150px; height: 150px; overflow: hidden; background: url("http://ecx.images-amazon.com/images/I/51rLyUhiazL._SL160_.jpg") center center no-repeat; margin: 10px;'></div>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card horizontal">
                    <div class="card-image">
                        <div style='float: left; width: 150px; height: 150px; overflow: hidden; background: url("http://ecx.images-amazon.com/images/I/51aDun9USvL._SL160_.jpg") center center no-repeat; margin: 10px;'></div>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col s12">
            <div class="col s6">
                <div class="card horizontal">
                    <div class="card-image">
                        <div style='float: left; width: 150px; height: 150px; overflow: hidden; background: url("http://ecx.images-amazon.com/images/I/51DOJH6M-QL._SL160_.jpg") center center no-repeat; margin: 10px;'></div>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card horizontal">
                    <div class="card-image">
                        <div style='float: left; width: 150px; height: 150px; overflow: hidden; background: url("http://ecx.images-amazon.com/images/I/51kCS0qMoiL._SL160_.jpg") center center no-repeat; margin: 10px;'></div>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer light-blue darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="grey-text text-lighten-3">О нас</h5>
                    <p class="grey-text text-lighten-3">Доставляем товары из крупнейших магазинов США, таких как amazon.com, apple.com. Срок поставки зависит от конкретного товара, в среднем составляет не более 2-х недель с момента оплаты. Гарантия на комплектующие - от года до трех лет, на телефоны iPhone - 1 год, с момента поставки товара."
                        +"Указанная стоимость товара включает в себя все расходы по транспортировке, растамаживанию и пр.
                    </p>
                </div>
                <div class="col l3 s12">
                    <h5 class="grey-text text-lighten-3">Настройки</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="grey-text text-lighten-3">Контакты</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Designed by <a class="orange-text text-lighten-3" href="http://zzconcept.ru">zzconcept</a>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

</body>
</html>
