<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head-row"></head>
<body class="blue-grey lighten-5">

<div th:replace="layout :: user-row"></div>
<nav th:replace="layout :: nav-row"></nav>
<div th:replace="layout :: header-row"></div>
<div th:replace="layout::flash"></div>


    <div class="container">
            <div class="row col s12">
                <div class="row col s8 offset-s2 white z-depth-3">

                    <div class="row center teal-text text-darken-2">
                        <h5>Адрес получателя:</h5>
                    </div>
                    <div class="row">
                        <div class="input-field col s5 offset-s1">
                            <input id="firstName" type="text" class="validate" name="firstName" th:value="*{firstName}"/>
                            <label for="firstName">Имя</label>
                        </div>
                        <div class="input-field col s5">
                            <input id="lastName" type="text" class="validate" name="lastName" th:value="*{lastName}"/>
                            <label for="lastName">Фамилия</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5 offset-s1">
                            <select id="country" name="country">
                                <option th:each="country : ${countries}" th:selected="${country == 'Россия'} ? 'selected' : ' ' " th:text="${country}" th:value="${country}">Россия</option>
                            </select>
                            <label for="country">Страна</label>
                        </div>
                        <div class="input-field col s5">
                            <input id="zipCode" type="text" class="validate" name="zipCode"/>
                            <label for="zipCode">Индекс</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5 offset-s1">
                            <select id="city" name="city">
                                <option th:each="city : ${cities}" th:selected="${city == city_delivery} ? 'selected' : ' ' " th:text="${city}" th:value="${city}">Россия</option>
                            </select>
                            <label for="city">Город</label>
                        </div>
                        <div class="input-field col s5">
                            <input id="street" type="text" class="validate" name="street"/>
                            <label for="street">Улица</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s2 offset-s1">
                            <input id="house" type="text" class="validate" name="house"/>
                            <label for="house">Дом</label>
                        </div>
                        <div class="input-field col s2">
                            <input id="room" type="text" class="validate" name="room"/>
                            <label for="room">Квартира</label>
                        </div>
                        <div class="input-field col s5 offset-s1">
                            <input id="phone" type="tel" class="validate" name="phone"/>
                            <label for="phone">Телефон</label>
                        </div>
                    </div>
                    <div class="row center">
                        <button class="waves-effect waves-light btn" type="submit" onclick="postAddress()"><i class="material-icons right">send</i>Сохранить</button>
                        <br/>
                    </div>

                </div>
            </div>
    </div>



<footer th:replace="layout :: footer-row"></footer>

<div th:replace="layout :: scripts"></div>
<script src="../assets/scripts/formatDecimal.js"></script>
<script src="../assets/scripts/flashMessage.js"></script>
<script src="../assets/scripts/address.js"></script>
<script>$(document).ready(function() {$('select').material_select();});</script>
</body>
</html>
