<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head-row"></head>
<body>
<sec:authorize access="hasAnyRole('ADMIN', 'DEVELOPER')">

    <div th:replace="layout::user-row"></div>
    <nav th:replace="layout::nav-admin-row"></nav>
    <div th:replace="layout::header-admin-row"></div>
    <div th:replace="layout::flash"></div>

    <div class="container">
        <br/>
        <div id="productsList" class="row col row s12">
            <div th:each="product : ${products}" th:id="@{'productCard #'+${product.id}}" class="col s6 no-margin">
                <div th:replace="layout :: product-row-admin"></div>
            </div>
        </div>
    </div>

    <div th:replace="layout::scripts"></div>
    <script src="../assets/scripts/formatDecimal.js" type="text/javascript" charset="utf-8"></script>
    <script src="../assets/scripts/flashMessage.js" type="text/javascript" charset="utf-8"></script>
    <script src="../assets/scripts/admin.js" type="text/javascript" charset="utf-8"></script>
    <script src="../assets/scripts/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>

</sec:authorize>
</body>
</html>