<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head-row"></head>
<body class="blue-grey lighten-5">

<div th:replace="layout :: user-row"></div>
<nav th:replace="layout :: nav-row"></nav>
<div th:replace="layout :: header-row"></div>
<div th:replace="layout::flash"></div>

<div class="container">
    <br/>
    <div id="productsList" class="row col s12">
        <div th:each="product : ${products}" th:id="@{'productCard #'+${product.id}}" class="col s6 no-margin">
            <a th:href="@{'/details/'+${product.id}}">
                <div th:replace="layout :: product-row"></div>
            </a>
        </div>
    </div>
</div>

<footer th:replace="layout :: footer-row"></footer>

<div th:replace="layout :: scripts"></div>
<script src="../assets/scripts/formatDecimal.js"></script>
<script src="../assets/scripts/flashMessage.js"></script>
<script src="../assets/scripts/index.js"></script>
<script src="../assets/scripts/shopcart.js"></script>
<script>$(document).ready(function() {$('select').material_select();});</script>
</body>
</html>
