<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head-row"></head>
<body class="blue-grey lighten-5">
<div th:replace="layout::user-row"></div>
<nav th:replace="layout::nav-row"></nav>
<div th:replace="layout::header-row"></div>


    <div class="container">
        <div class="row col s12 white">
            <br/>
            <form action="/login" method="POST">
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" hidden="hidden"/>
                <div class="col s4 offset-s4 center">
                    <label for="username">имя пользователя</label>
                    <input type="text" name="username" id="username" placeholder="Username" class="validate"/>
                </div>
                <div class="col s4 offset-s4 center">
                    <label for="password">пароль</label>
                    <input type="password" name="password" id="password" placeholder="Password" class="validate"/>
                </div>
                <div class="col s4 offset-s4 center">
                    <input type="checkbox" name="remember" id="remember"/>
                    <label for="remember">запомнить меня</label>
                </div>

                <div class="col s4 offset-s4 center">
                    <br/><br/>
                    <button class="btn waves-effect waves-light buttoncolor" type="submit" name="action" onclick="submitLogin()">Войти
                        <i class="material-icons right">send</i>
                    </button>
                    <br/><br/>
                </div>
            </form>​
        </div>
    </div>

<footer th:replace="layout::footer"></footer>
<div th:replace="layout::scripts"></div>
<script src="../assets/scripts/login.js" type="text/javascript" charset="utf-8"></script>
<script>$(document).ready(function() {$('select').material_select();});</script>
</body>
</html>