<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head-row"></head>
<body class="blue-grey lighten-5">
<div th:replace="layout::user-row"></div>
<nav th:replace="layout::nav-row"></nav>
<div th:replace="layout::header-row"></div>
<div th:replace="layout::flash"></div>

<div class="container">
    <div class="row col s12">
        <div class="row col s8 offset-s2 white z-depth-3">
            <form action="/login" method="POST">
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" hidden="hidden"/>
                <div class="row center teal-text text-darken-2">
                    <h5>Вход для зарегистрированных пользователей:</h5>
                </div>
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <input th:if="${username == null}" id="username" type="text" class="validate" name="username"/>
                        <input th:if="${username != null}" id="username" type="text" class="validate" name="username" th:value="${username}"/>
                        <label for="username">Адрес электронной почты</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <input th:if="${password == null}" id="password" type="password" class="validate" name="password"/>
                        <input th:if="${password != null}" id="password" type="password" class="validate" name="password" th:value="${password}"/>
                        <label for="password">Пароль</label>
                    </div>
                </div>
                <div class="row center no-margin">
                    <div class="input-field col s6 offset-s3">
                        <input type="checkbox" name="remember-me" id="remember-me" class="disabled"/>
                        <label for="remember-me">Запомнить меня</label>
                    </div>
                </div>
                <div class="row center">
                    <br/>
                    <button type="submit" class="waves-effect waves-light btn"><i class="material-icons right">send</i>Войти</button>
                    <br/>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="layout::footer"></footer>
<div th:replace="layout::scripts"></div>
<script src="../assets/scripts/login.js" type="text/javascript" charset="utf-8"></script>
<script>$(document).ready(function() {$('select').material_select();});</script>
</body>
</html>