<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head-row"></head>
<body class="blue-grey lighten-5">

<div th:replace="layout :: user-row"></div>
<nav th:replace="layout :: nav-row"></nav>
<div th:replace="layout :: header-row"></div>
<div th:replace="layout::flash"></div>

<meta th:each="registeredUsername, stat : ${registeredUsernames}" th:name="@{'registeredUsername #'+${stat.index}}" th:content="${registeredUsername}"/>

<sec:authorize access="hasAnyRole('ADMIN', 'USER')">

    <div class="container">
        <div class="row col s12">
            <div class="row col s8 offset-s2 white z-depth-3">

                <div class="row col s11 offset-s1 teal-text text-darken-2">
                    <br/>
                    <h5 th:text="@{'Профиль пользователя: '+${user.username}}">zzheads@gmail.com</h5>
                </div>
                <div class="row input-field col s5 offset-s1">
                    <input id="password" type="email" class="validate" name="password"/>
                    <label for="password">Новый пароль:</label>
                </div>
                <div class="row col s11 offset-s1 teal-text text-darken-2">
                    <h5>Адрес доставки:</h5>
                </div>
                <div class="row">
                    <div class="input-field col s5 offset-s1">
                        <input id="firstName" type="text" class="validate" name="firstName" th:value="${user.address.firstName}"/>
                        <label for="firstName">Имя</label>
                    </div>
                    <div class="input-field col s5">
                        <input id="lastName" type="text" class="validate" name="lastName" th:value="*{user.address.lastName}"/>
                        <label for="lastName">Фамилия</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s5 offset-s1">
                        <select id="country" name="country">
                            <option th:each="country : ${countries}" th:selected="${country == user.address.country} ? 'selected' : ' ' " th:text="${country}" th:value="${country}">Россия</option>
                        </select>
                        <label for="country">Страна</label>
                    </div>
                    <div class="input-field col s5">
                        <input id="zipCode" type="text" class="validate" name="zipCode" th:value="${user.address.zipCode}"/>
                        <label for="zipCode">Индекс</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s5 offset-s1">
                        <select id="city" name="city">
                            <option th:each="city : ${cities}" th:selected="${city == user.address.city} ? 'selected' : ' ' " th:text="${city}" th:value="${city}">Россия</option>
                        </select>
                        <label for="city">Город</label>
                    </div>
                    <div class="input-field col s5">
                        <input id="street" type="text" class="validate" name="street" th:value="${user.address.street}"/>
                        <label for="street">Улица</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s2 offset-s1">
                        <input id="house" type="text" class="validate" name="house" th:value="${user.address.house}"/>
                        <label for="house">Дом</label>
                    </div>
                    <div class="input-field col s2">
                        <input id="room" type="text" class="validate" name="room" th:value="${user.address.room}"/>
                        <label for="room">Квартира</label>
                    </div>
                    <div class="input-field col s5 offset-s1">
                        <input id="phone" type="tel" class="validate" name="phone" th:value="${user.address.phone}"/>
                        <label for="phone">Телефон</label>
                    </div>
                </div>

                <div class="row col s11 offset-s1 teal-text text-darken-2">
                    <h5>Реквизиты карты:</h5>
                </div>
                <div class="row">
                    <div class="input-field col s5 offset-s1">
                        <input id="cardNumber" type="text" class="validate" name="cardNumber" th:value="${user.card.number}"/>
                        <label for="cardNumber">Номер</label>
                    </div>
                    <div class="input-field col s5">
                        <input id="cardName" type="text" class="validate" name="cardName" th:value="${user.card.name}"/>
                        <label for="cardName">Имя владельца</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s2 offset-s1">
                        <input id="cardMonth" type="text" class="validate" name="cardMonth" th:value="${user.card.expMonth}"/>
                        <label for="cardMonth">Месяц</label>
                    </div>
                    <div class="input-field col s2 offset-s1">
                        <input id="cardYear" type="text" class="validate" name="cardYear" th:value="${user.card.ExpYear}"/>
                        <label for="cardYear">Год</label>
                    </div>

                </div>

                <div class="row col s11 offset-s1 teal-text text-darken-2">
                    <h5>Добавить скан паспорта:</h5>
                </div>

                <div class="row col s8 offset-s1">
                    <form action="#">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File</span>
                                <input type="file" th:name="${user.passportScan}"/>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text"/>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="col s3 offset-s3">
                        <button class="waves-effect waves-light btn teal lighten-3" type="reset" onclick="cansel()"><i class="material-icons right">not_interested</i>Отменить</button>
                    </div>
                    <div class="col s3">
                        <button class="waves-effect waves-light btn teal darken-2" type="submit" onclick="saveProfile()"><i class="material-icons right">send</i>Сохранить</button>
                    </div>
                    <br/>
                </div>

            </div>
        </div>
    </div>

</sec:authorize>

<footer th:replace="layout :: footer-row"></footer>

<div th:replace="layout :: scripts"></div>
<script src="../assets/scripts/flashMessage.js"></script>
<script src="../assets/scripts/profile.js"></script>
<script>$(document).ready(function() {$('select').material_select();});</script>
</body>
</html>
